name: Rust

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: GIT_V_TAG=0.1.1 cargo build --profile release
      
    - uses: BetaHuhn/do-spaces-action@v2
      with:
        access_key: ${{ secrets.ACCESS_KEY}}
        secret_key: ${{ secrets.SECRET_KEY }}
        space_name: ${{ secrets.SPACE_NAME }}
        space_region: ${{ secrets.SPACE_REGION }}
        source: /home/runner/work/edge-runtime/edge-runtime/target/release/edge-runtime
        out_dir: /edge-runtime/bin

    - name: update deployment status
      if: always()
      uses: altinukshini/deployment-status@releases/v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        state: ${{ job.status }}
        deployment_id: ${{ steps.deployment.outputs.deployment_id }}
        environment_url: ${{steps.spaces.outputs.output_url}}
        description: "Successfully uploaded files to DO Spaces"
